.App {
  
  text-align: center;
  min-height: 100vh;
  color: #282c48;
  display: flex;
  justify-content: center;
  background-color: #282c48;
}
.main{
  border-style:solid;
  border-color: grey;
  width: 70%;
  background-color:white;
  margin-top: 20px;
}

