.inputBox {
  font-size: 22px;
  width: 300px;
  border: solid;
}

.button {
  font-size: 16px;
  /* background-color:#282c48; */
  width: 50%;
  border-style: solid;
  font-weight: bold;
}

.completeButton {
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: right;
}

.editButton {
  font-weight: bold;
}

.title {
  font-size: 50px;
}

.todo {
  font-size: 35px;
}

.date {
  color: red;
  /* text-align: right; */
  
}

.due {
  font-size: 15px;
}
.displayList {
  /* border-style: solid; */
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  margin-left: 20%;
}
.displayList:nth-child(even) {
  background: rgb(237, 231, 231);
}

