.calendar{
  /* border-radius: 20px; */
  /* background-color: grey; */
  
}

.inputBox{
  font-size: 21px;
  width: 300px;
  border: solid
}

.button{
  font-size: 16px;
  /* border: solid; */
  width: 50%;
  /* background-color: grey; */
  /* color: white; */
  font-weight: bold;
}

.completeButton{
  background-color: red;
  color: white;
  font-weight: bold;
}

.editButton{
  font-weight: bold;
}

.title{
  font-size: 50px;
}

h1{
  /* font-size: 50px; */
}

.todo{
  /* text-align: left; */
  font-size: 35px;
  
}

.date{
  color: red;
  text-align: right;
  text-align: right;
}

.due{
  font-size: 15px;
}

h2{
  
  /* vertical-align: middle; */
  /* margin-left: 20% */
}